name: Python CI

on: push

jobs:
  python-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install pytest
  run: pip install pytest

- name: Run tests
  run: pytest

   



